{% extends 'base.html' %}

{% block title %}
{{ game.name }}
{% endblock %}
{% block body %}
<seciton class="content">
  <div class="content-wrap">
    <div class="item">
      <img src="/static/img/{{ game.name }}.jpg" height="500" width="600">
    </div>
    <div class="cont-text">
      Название игры: {{ game.name }} <br>
      Жанр: {{ game.genre }} <br>
      Год выпуска: {{ game.year }} <br>
      Издатель: {{ game.developer }} <br>
      О игре: {{ game.about }} <br>
    </div>
  </div>
</seciton>
<seciton class="content">
  <div class="cont-text">
    <h2>Системные требования</h2>
      Процессор: {{ r_cpu }} <br>
      Видеокарта: {{ r_card }} <br>
      Колличество памяти на жестком диске: {{ game.space }} <br>
      Колличество оперативной памяти: {{ game.op_space }}
    </div>
  <div class="cont-text">
    <h2>Ваш сетап</h2>
      Процессор: {{ config.cpu }} <img src="/static/img/{{ cpu_yea }}.jpg" width="50" height="50"><br>
      Видеокарта: {{ config.card }} <img src="/static/img/{{ card_yea }}.jpg" width="50" height="50"><br>
      Колличество памяти на жестком диске: {{ config.space }} <img src="/static/img/{{ space_yea }}.jpg" width="50" height="50"><br>
      Колличество оперативной памяти: {{ config.op_space }} <img src="/static/img/{{ op_space_yea }}.jpg" width="50" height="50"><br>
    </div>
</seciton>
{% endblock %}